<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="Listado de géneros literarios"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form id="rGenero">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{materiaController.items.rowCount == 0}">
                    <div class="row">
                        <div class="col-xl-7"/>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC2" class="form-control" type="search" placeholder="Buscar género literario" value="#{materiaController.search}"/>
                                        <p:tooltip for="bC2"  value="Buscar género literario por ID o Nombre del Género" position="left"/>
                                        <p:commandButton update="rGenero" icon="pi pi-search" action="#{materiaController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rGenero" value="Mostrar todo" action="#{materiaController.showAll}" />
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMateriaEmpty}" rendered="#{materiaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{materiaController.items.rowCount > 0}">
                    <div class="row">
                        <div class="col-xl-7">
                            <ul class="pagination">
                                <li class="page-item"><h:outputText class="page-link" value="#{materiaController.pagination.pageFirstItem + 1}..#{materiaController.pagination.pageLastItem + 1}/#{materiaController.pagination.itemsCount}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{materiaController.previous}" value="#{bundle.Previous} #{materiaController.pagination.pageSize}" rendered="#{materiaController.pagination.hasPreviousPage}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{materiaController.next}" value="#{bundle.Next} #{materiaController.pagination.pageSize}" rendered="#{materiaController.pagination.hasNextPage}"/>&nbsp;</li>
                        </ul>
                        </div>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC" class="form-control" type="search" placeholder="Buscar género literario" value="#{materiaController.search}"/>
                                        <p:tooltip for="bC"  value="Buscar género literario por ID o Nombre del Género" position="left"/>
                                        <p:commandButton update="rGenero" icon="pi pi-search" action="#{materiaController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rGenero" value="Mostrar todo" action="#{materiaController.showAll}" />
                            </div>
                        </div> 
                    </div>
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{materiaController.items}" var="item" rules="all" class="table1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMateriaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMateriaTitle_materia}"/>
                            </f:facet>
                            <h:outputText style="font-size: 20px;" value="#{item.materia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header" class="col-1">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink class="btn btn-info" id="show" action="#{materiaController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:commandLink class="btn btn-warning" id="edit" action="#{materiaController.prepareEdit}"><i class="fas fa-edit"></i></h:commandLink>
                                <p:tooltip for="edit" value="Editar Información" position="top"/>
                                <p:commandLink class="btn btn-danger" id="delete" action="#{materiaController.destroy}" update="rGenero"><i class="fas fa-trash" style="color:white;"></i>
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar este género literario?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Eliminar" position="top"/>
                            </div>
                        </h:column>
                    </h:dataTable>
                    </div>
                </h:panelGroup>
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary" action="#{materiaController.prepareCreate}"><i class="fas fa-plus"></i> #{bundle.ListMateriaCreateLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.ListMateriaIndexLink}</h:link>
                </div> 
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
