<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form id="LUsuario">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUsuariosEmpty}" rendered="#{usuariosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{usuariosController.items.rowCount > 0}">
                    <div class="row">
                    <div class="col-xl-7">
                        <ul class="pagination">
                            <li class="page-item"><h:outputText class="page-link" value="#{usuariosController.pagination.pageFirstItem + 1}..#{usuariosController.pagination.pageLastItem + 1}/#{usuariosController.pagination.itemsCount}"/>&nbsp;</li>
                            <li class="page-item"><h:commandLink class="page-link" action="#{usuariosController.previous}" value="#{bundle.Previous} #{usuariosController.pagination.pageSize}" rendered="#{usuariosController.pagination.hasPreviousPage}"/>&nbsp;</li>
                            <li class="page-item"><h:commandLink class="page-link" action="#{usuariosController.next}" value="#{bundle.Next} #{usuariosController.pagination.pageSize}" rendered="#{usuariosController.pagination.hasNextPage}"/>&nbsp;</li>
                        </ul>
                    </div>
                    </div>                               
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{usuariosController.items}" var="item" rules="all" class="table1" >
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_usuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_clave}"/>
                            </f:facet>
                            <h:outputText value="#{item.clave}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_rol}"/>
                            </f:facet>
                            <h:outputText value="#{(item.rol==1)?'ADMIN':'EMPLOYED'}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_status}"/>
                            </f:facet>
                            <span class="#{(item.status == 0)?'agotado letra negrita text-white':'existencia letra negrita text-white'}"><h:outputLabel value="#{((item.status == 0)?'SIN ACCESO':'CON ACCESO')}"/></span>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{usuariosController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:commandLink id="edit" class="btn btn-warning" action="#{usuariosController.prepareEdit}"><i class="fas fa-edit"></i></h:commandLink>
                                <p:tooltip for="edit" value="Editar Información" position="top"/>
                                <p:commandLink id="delete" class="btn btn-danger" action="#{usuariosController.destroy}" update="LUsuario"><i class="fas fa-trash" style="color:white;"></i>
                                     <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el usuario?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Eliminar Usuario" position="top"/>                                
                            </div>
                        </h:column>
                    </h:dataTable>
                    </div>
                </h:panelGroup>
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary" action="#{usuariosController.prepareCreate}"><i class="fas fa-plus"></i> #{bundle.ListUsuariosCreateLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.ListUsuariosIndexLink}</h:link>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
