<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="Editar las existencias de un material bibliográfico"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
                <h:form id="ELibro">
                    <h:outputLabel>Para Actualizar la información de algún Libro es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_id} LIBRO" for="id" />
                    <h:inputText class="form-control" id="id" value="#{libroController.selected.id}" disabled="true"/>
                    <p:tooltip for="id" value="#{bundle.EditLibroTitle_id}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_titulo}" for="titulo"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <h:inputText disabled="true" class="form-control" id="titulo" value="#{libroController.selected.titulo}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_titulo}"/>
                    <p:tooltip for="titulo" value="#{bundle.EditLibroTitle_titulo}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_idAutor}" for="idAutor" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu disabled="true" style="width: 300px;" filter="true" filterPlaceholder="Autor" id="idAutor" value="#{libroController.selected.idAutor}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idAutor}">
                        <f:selectItems value="#{autorController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu> 
                    <p:tooltip for="idAutor" value="#{bundle.EditLibroTitle_idAutor}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_idEditorial}" for="idEditorial" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu disabled="true" style="width: 300px;" filter="true" filterPlaceholder="Editorial" id="idEditorial" value="#{libroController.selected.idEditorial}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idEditorial}">
                        <f:selectItems value="#{editorialController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <p:tooltip for="idEditorial" value="#{bundle.EditLibroTitle_idEditorial}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_idMateria}" for="idMateria" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu disabled="true" style="width: 300px;" filter="true" filterPlaceholder="Género" id="idMateria" value="#{libroController.selected.idMateria}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idMateria}">
                        <f:selectItems value="#{materiaController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <p:tooltip for="idMateria" value="#{bundle.EditLibroTitle_idMateria}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditLibroLabel_cantidad}" for="cantidad"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <h:inputText class="form-control" id="cantidad" value="#{libroController.selected.cantidad}"  required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_cantidad}" validatorMessage="No está permitido tener menos de las existencias registradas.">
                        <f:validateLongRange minimum="#{libroController.selected.cantidad}"/>
                    </h:inputText>
                    <p:tooltip for="cantidad" value="#{bundle.EditLibroTitle_cantidad}" position="right"/>
                   
                </h:panelGrid>
                    <br/>
                    <h:commandLink class="btn btn-success" action="#{libroController.update}" ><i class="fas fa-save"></i> #{bundle.EditLibroSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="View" ><i class="fas fa-file-alt"></i> Datos del libro</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{libroController.prepareList}" immediate="true"><i class="fas fa-list"></i> Listar todos los libros</h:commandLink>
                </div>
                <br />
                <br />
                
            </h:form>
                </div>
                <div class="col-xl-5">
                    <img src="https://www.el-libro.org.ar/wp-content/uploads/2018/03/ed44_banneranim_300x600.gif" width="80%"/>
                </div>
            </div>
            </div>
            </div>  
            <script>
                PrimeFaces.locales['es'] = {
                    closeText: 'Cerrar',
                    prevText: 'Anterior',
                    nextText: 'Siguiente',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dayNamesMin: ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'],
                    weekHeader: 'Semana',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    timeOnlyTitle: 'Sólo hora',
                    timeText: 'Tiempo',
                    hourText: 'Hora',
                    minuteText: 'Minuto',
                    secondText: 'Segundo',
                    currentText: 'Fecha actual',
                    ampm: false,
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    allDayText: 'Todo el día'
                    };
            </script>
        </ui:define>
    </ui:composition>

</html>
