<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateP.xhtml">
        <ui:define name="title">
            <h:outputText value="FICHA BIBLIOGRÁFICA"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Centro de Información del CECyTE Plantel 25 "San Pablo Huixtepec"
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">  
            <h:form id="DLibro">
                <p:growl id="message" showDetail="true" />
                <h:panelGrid columns="2" class="col-xl-10" cellspacing="3" cellpadding="4">
                    <h:outputText class="negrita" value="IDENTIFICADOR: "/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.id}" title="#{bundle.ViewLibroTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_titulo}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.titulo}" title="#{bundle.ViewLibroTitle_titulo}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_cantidad}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.cantidad} Ejemplares" title="#{bundle.ViewLibroTitle_cantidad}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_anioEdicion}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.anioEdicion}" title="#{bundle.ViewLibroTitle_anioEdicion}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_numPagina}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.numPagina} Páginas" title="#{bundle.ViewLibroTitle_numPagina}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_descripcion}"/>
                    <h:outputText class="form-control caja" style="width: 400px;" value="#{lectoresSB.libroD.descripcion}" title="#{bundle.ViewLibroTitle_descripcion}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_isbn}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.isbn}" title="#{bundle.ViewLibroTitle_isbn}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_status}"/>
                    <span class="#{(lectoresSB.libroD.status == 0)?'agotado letra negrita text-white':'existencia letra negrita text-white'}">#{((lectoresSB.libroD.status == 0)?'AGOTADO':'EXISTENCIA')}</span>
                    <h:outputText class="form-label negrita" value="Núm. Disponible: "/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.cantidadDisponible} Ejemplares" title="#{bundle.ViewLibroTitle_cantidadDisponible}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_idAutor}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.idAutor.autor}" title="#{bundle.ViewLibroTitle_idAutor}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewLibroLabel_idEditorial}"/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.idEditorial.editorial}" title="#{bundle.ViewLibroTitle_idEditorial}"/>
                    <h:outputText class="form-label negrita" value="Género: "/>
                    <h:outputText class="form-control caja" value="#{lectoresSB.libroD.idMateria.materia}" title="#{bundle.ViewLibroTitle_idMateria}"/>
                </h:panelGrid>
                
                <br />

            </h:form>
                    </div>
                    <div class="col-xl-5">
                    <img src="https://ouch-cdn2.icons8.com/z39mAYlsJUS2hKCBbkK_ktOIjma_qhkc5J0ANdyfiKU/rs:fit:912:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTA3/L2FlZjQ4NmM4LTAz/NTYtNGRhNS04ZWQ2/LTBhMGIzMzdhZjNm/Mi5zdmc.png" width="100%"/>
                    <br/>
                    <img src="https://www.un.edu.mx/wp-content/uploads/2021/05/Universidad-del-Norte-Rodeate-de-personas-sientan-atraccion-por-la-lectura-subtitulo.png" width="100%"/>
                    </div>
            </div>
            </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
