<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templateP.xhtml">
        <ui:define name="title">
            <h:outputText value="Historial de Solicitudes de Materiales Bibliográficos"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form>
                <p:dataTable var="solicitud" value="#{lectoresSB.obtenerListaSolicitudesLector(logueo.usuario)}">
                    <p:column headerText="ID Solicitud">
                        <h:outputText value="#{solicitud.id}" />
                    </p:column>

                    <p:column headerText="ID Libro">
                        <h:outputText value="#{solicitud.idLibro.id}" />
                    </p:column>

                    <p:column headerText="Libro">
                        <h:outputText value="#{solicitud.idLibro.titulo}" />
                    </p:column>
                    
                    <p:column headerText="Autor">
                        <h:outputText value="#{solicitud.idLibro.idAutor.autor}" />
                    </p:column>
                    
                    <p:column headerText="Editorial">
                        <h:outputText value="#{solicitud.idLibro.idEditorial.editorial}" />
                    </p:column>
                    
                    <p:column headerText="Status">
                        <span style="width: 120px; display:block;" class="#{(solicitud.status == 2)?'agotado letra negrita text-white':((solicitud.status == 1)?'existencia letra negrita text-white':'por_agotar letra negrita text-white')}">#{(solicitud.status == 2)?'RECHAZADA':((solicitud.status == 1)?'ACEPTADA':'EN PROCESO')}</span>
                    </p:column>

                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>