<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templateP.xhtml">
        <ui:define name="title">
            <h:outputText value="Listado de Materiales Bibliográficos"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form>
                <p:dataTable  var="libro" value="#{lectoresSB.listLibros}" widgetVar="librosTable" rows="10"
                        emptyMessage="Libro no encontrado con este criterio de búsquda."
                        filteredValue="#{lectoresSB.listaLibros}"
                        paginator="true"
                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
                        rowsPerPageTemplate="5,10,{ShowAll|'Todos'}">
                        <f:facet name="header">
                         <div class="row">
                             <div class="col-8">
                             <span>Centro de Información CECyTE Plantel 25 "San Pablo Huixtepec"</span>
                             </div>
                             <div class="col-4">
                                 <div class="input-group">
                                     <p:inputText type="search" id="globalFilter" onkeyup="PF('librosTable').filter()" style="width:15rem" placeholder="Ingrese una palabra" /><span class="btn btn-primary"><i class="fas fa-search"></i></span>&nbsp;&nbsp;&nbsp;
                                 </div>
                             </div>
                         </div>
                         </f:facet>
                        <p:column headerText="ID" sortBy="#{libro.id}" filterBy="#{libro.id}">
                            <h:outputText value="#{libro.id}" />
                        </p:column>
                        <p:column headerText="Título" sortBy="#{libro.titulo}" filterBy="#{libro.titulo}">
                            <h:outputText value="#{libro.titulo}" />
                        </p:column>
                        <p:column headerText="Autor" sortBy="#{libro.idAutor.autor}" filterBy="#{libro.idAutor.autor}">
                            <h:outputText value="#{libro.idAutor.autor}" />
                        </p:column>
                        <p:column headerText="Género" sortBy="#{libro.idMateria.materia}" filterBy="#{libro.idMateria.materia}">
                            <h:outputText value="#{libro.idMateria.materia}" />
                        </p:column>
                        <p:column headerText="Editorial" sortBy="#{libro.idEditorial.editorial}" filterBy="#{libro.idEditorial.editorial}">
                                <h:outputText value="#{libro.idEditorial.editorial}" />
                        </p:column>
                        <p:column headerText="ISBN" sortBy="#{libro.isbn}" filterBy="#{libro.isbn}">
                            <h:outputText value="#{libro.isbn}" />
                        </p:column>
                        <p:column headerText="Opciones">
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{lectoresSB.buscarLibro(libro.id)}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:commandLink id="edit" class="btn btn-warning" action="#{lectoresSB.generarSolicitud(libro.id, logueo.usuario)}"><i class="fas fa-file-alt"></i></h:commandLink>
                                <p:tooltip for="edit" value="Solicitar Libro" position="top"/>
                            </div>
                        </p:column>
                    
                
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>