<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDocenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
               <h:form id="vDocente">
                <p:growl id="message" showDetail="true"/>
                <h:panelGrid columns="2" class="col-xl-10">
                    <h:outputText class="form-control color2 text-white bg-opacity-25" value="INFORMACIÓN"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="ID DOCENTE:"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.id}" title="#{bundle.ViewDocenteTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_password}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.password}" title="#{bundle.ViewDocenteTitle_password}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_nombre}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.nombre}" title="#{bundle.ViewDocenteTitle_nombre}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_apellidoP}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.apellidoP}" title="#{bundle.ViewDocenteTitle_apellidoP}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_apellidoM}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.apellidoM}" title="#{bundle.ViewDocenteTitle_apellidoM}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_area}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.area}" title="#{bundle.ViewDocenteTitle_area}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_telefono}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.telefono}" title="#{bundle.ViewDocenteTitle_telefono}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_correo}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.correo}" title="#{bundle.ViewDocenteTitle_correo}"/>
                    <h:outputText class="form-control color2 text-white bg-opacity-10" value="DIRECCIÓN DEL DOCENTE"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_calleYnum}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.calleYnum}" title="#{bundle.ViewDocenteTitle_calleYnum}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_colonia}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.colonia}" title="#{bundle.ViewDocenteTitle_colonia}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_codigoPostal}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.codigoPostal}" title="#{bundle.ViewDocenteTitle_codigoPostal}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_municipio}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.municipio}" title="#{bundle.ViewDocenteTitle_municipio}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewDocenteLabel_estado}"/>
                    <h:outputText class="form-control" value="#{docenteController.selected.estado}" title="#{bundle.ViewDocenteTitle_estado}"/>
                    
                </h:panelGrid>
                <br />
                <p:commandLink class="btn btn-danger text-white" style="text-decoration: none;" action="#{docenteController.destroyAndView}" update="vDocente"><i class="fas fa-trash text-white"></i> #{bundle.ViewDocenteDestroyLink}
                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Docente?" icon="pi pi-exclamation-triangle"/>
                </p:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="Edit"><i class="fas fa-edit"></i> Editar</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{docenteController.prepareCreate}"><i class="fas fa-user"></i> Nuevo</h:commandLink>
                    <h:commandLink class="btn btn-outline-primary" action="#{docenteController.prepareList}"><i class="fas fa-list"></i> #{bundle.ViewDocenteShowAllLink}</h:commandLink>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>

            </h:form>
                </div>
                <div class="col-xl-5">
                    <img src="https://img.freepik.com/vector-gratis/educacion-distancia-linea-casa_108855-1708.jpg" width="100%"/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <img src="https://static.wixstatic.com/media/b0a6b8_56f46fc78ad94d1da457b038f75fbdc4.png/v1/fill/w_600,h_226,al_c,usm_0.66_1.00_0.01,enc_auto/b0a6b8_56f46fc78ad94d1da457b038f75fbdc4.png" width="100%"/>
                </div>
            </div>
            </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
