<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAutorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
            <h:form id="EAutor">
                <h:outputLabel>Para actualizar la información de algún autor es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditAutorLabel_id}" for="id" />
                    <p:inputText class="form-control" id="id" value="#{autorController.selected.id}" required="true" requiredMessage="#{bundle.EditAutorRequiredMessage_id}" disabled="true"/>
                    <p:tooltip for="id" value="#{bundle.EditAutorTitle_id}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditAutorLabel_autor}" for="autor"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="autor" value="#{autorController.selected.autor}" required="true" requiredMessage="#{bundle.EditAutorRequiredMessage_autor}"/>
                    <p:tooltip for="autor" value="#{bundle.EditAutorTitle_autor}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditAutorLabel_imagen}" for="imagen" />
                    <p:inputText class="form-control" id="imagen" maxlength="100" value="#{autorController.selected.imagen}" />
                    <p:tooltip for="imagen" value="Ingresar el ENLACE de la #{bundle.EditAutorTitle_imagen}" position="right"/>
                </h:panelGrid>
                    <h:commandLink class="btn btn-success" action="#{autorController.update}"><i class="fas fa-save"></i> #{bundle.EditAutorSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="View" ><i class="fas fa-file-alt"></i> #{bundle.EditAutorViewLink}</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{autorController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.EditAutorShowAllLink}</h:commandLink>
                </div>
                <br />
                <br />
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://cdmx.ciesas.edu.mx/wp-content/uploads/2018/11/Libros.jpg" width="80%"/>
                </div>
            </div>
            </div>
            </div>  
        </ui:define>
    </ui:composition>

</html>
