<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition template="#{logueo.cambiarModoLT1()}">
    <ui:define name="title">
        Resultados de la búsqueda
    </ui:define>
    <ui:define name="body">
        <br/>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-0">
                            <h:form>
                            <c:set var = "flag" scope = "session" value = "true"/>
                            <c:forEach items="#{buscar.apartados}" var="apartado" >
                                <c:if test="#{buscar.verificar(buscar.palabra,apartado.palabrasC)}">
                                    <h5><h:outputText class="negrita text-dark" value="#{apartado.indicaciones}"/></h5>
                                    <h6><h:link class="negrita text-primary" outcome="#{apartado.enlace}"  value="#{apartado.nombre}"/></h6>
                                    <c:set var = "flag" scope = "session" value = "false"/>
                                </c:if>
                            </c:forEach>
                                <c:if test="#{flag}">
                                    <h5><h:outputText value="Sin resultados"/></h5>
                                </c:if>
                            </h:form>
                        </p>
                    </div>
            </div>

       
    </ui:define>

</ui:composition>
</html>
