<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="#{logueo.cambiarModoLT3()}">
        <ui:define name="title">
            FAWARIS BOOK APP
        </ui:define>
        <ui:define name="body">
            <div class="container-fluid px-4">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <h1 class="mt-4">BIENVENIDO A FAWARIS BOOK APP</h1>
                </div>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">SISTEMA WEB PARA EL CONTROL DE INVENTARIO Y PRÉSTAMO DE LIBROS DEL CENTRO DE INFORMACIÓN DEL CECYTE PLANTEL 25 “SAN PABLO HUIXTEPEC”</li>
                </ol>
                <p:panel  header="MENÚ DE ACCESO RÁPIDO" closable="true" toggleable="true" toggleSpeed="500" style="">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card text-white mb-4" style="border:none; background: #000046; background: -webkit-linear-gradient(to right, #000046, #1cb5e0); background: linear-gradient(to right, #000046, #1cb5e0);">
                                <div class="card-body"><i class="fas fa-book-open"></i> Préstamos</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <h:link id="Prestamos" class="small text-white stretched-link" outcome="/prestamo/List" value="Ver Detalles"/>
                                    <p:tooltip for="Prestamos" value="Solicitar Libro" position="bottom"/>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4" style="border: none; background:  #e65c00;  background: -webkit-linear-gradient(to right, #e65c00, #f9d423); background: linear-gradient(to right, #e65c00, #f9d423);">
                                <div class="card-body"><i class="fas fa-address-card"></i> Libros </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <h:link id="Libros" class="small text-white stretched-link"  outcome="/libro/List" value="Ver Detalles"/>
                                    <p:tooltip for="Libros" value="Material Bibliográfico" position="bottom"/>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4" style="border: none; background: #1D976C; background: -webkit-linear-gradient(to left, #93F9B9, #1D976C); background: linear-gradient(to left, #93F9B9, #1D976C);">
                                <div class="card-body"><i class="fas fa-address-book"></i> Estudiantes</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <h:link id="Estudiantes" class="small text-white stretched-link" outcome="/estudiante/List" value="Ver Detalles"/>
                                    <p:tooltip for="Estudiantes" value="Listado de Estudiantes" position="bottom"/>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card text-white mb-4" style="border:none; background: #FF0099; background: -webkit-linear-gradient(to right, #493240, #FF0099);background: linear-gradient(to right, #493240, #FF0099); ">
                                <div class="card-body"><i class="fas fa-school"></i> Docentes </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <h:link id="Docentes" class="small text-white stretched-link"  outcome="/docente/List" value="Ver Detalles"/>
                                    <p:tooltip for="Docentes" value="Listado de Docentes" position="bottom"/>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p:panel>
                <br/>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Acerca de FAWARIS 
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">
                                <h4>FAWARIS BOOK APP</h4>
                                <p style="text-align: justify;font-size:17px;">El sistema <strong>FAWARIS</strong>, tiene como finalidad optimizar la supervisión y administración del inventario del Centro de Información, con el propósito de ofrecer información puntual tanto a estudiantes como a docentes. Mediante este sistema, se facilita la obtención de un inventario completo de los libros disponibles, incluyendo el número de ejemplares en existencia, las editoriales correspondientes, y la capacidad de búsqueda de materiales bibliográficos en cualquier momento, aplicando diversos filtros. Por ejemplo, es posible realizar búsquedas según el título del libro, el autor, la editorial o el ISBN. </p>

                                <img class="masthead-avatar mb-5" src="https://oaxaca.quadratin.com.mx/www/wp-content/uploads/2018/06/cecyte.jpg" width="90%"/>

                            </div>
                            <div class="col-xl-6">
                                <div class="hover02 column">
                                    <br/>
                                    <figure>
                                        <img src="https://gaceta.cch.unam.mx/sites/default/files/styles/imagen_articulos_1920x1080/public/2023-02/pag_28b.png" width="100%" />
                                    </figure>
                                    <br/>
                                    <br/>
                                    <p style="text-align: justify;font-size:17px;">
                                        Cuando los alumnos deseen solicitar un préstamo de libros, podrán registrarse en el sistema utilizando su matrícula. En este proceso, el sistema verificará automáticamente si el alumno tiene algún libro pendiente de devolución. Si no se encuentra ningún problema, el proceso de préstamo se llevará a cabo de manera sencilla y eficiente. 
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>                        
                <br/>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Libros más leídos
                            </div>
                            <div class="card-body">
                                <script type="text/javascript">
                                    //<![CDATA[
                                    function exportChart() {
                                        //export image
                                        $('#output').empty().append(PF('chart').exportAsImage());
                                        $('#output').empty().append(PF('chart').exportAsImage());
                                        //show the dialog
                                        PF('dlg').show();
                                    }
                                    //]]>
                                    //<![CDATA[
                                    function exportChart2() {
                                        //export image
                                        $('#output2').empty().append(PF('chart2').exportAsImage());

                                        //show the dialog
                                        PF('dlg2').show();
                                    }
                                    //]]>
                                </script>
                            <!--<p:chart type="bar" model="#{graficasControl.barModel}" style="height:260px; width: 100%" widgetVar="chart" />-->

                                <p:chart id="barChart" type="donut" model="#{graficasControl.donutModel}" style="height:300px; width: 100%" widgetVar="chart"/>

                                <p>Se proporciono una lista de cinco libros clásicos que han sido ampliamente leídos y siguen siendo populares.</p>
                                <h:form>
                                    <p:commandButton type="button" value="Exportar" icon="pi pi-home" onclick="exportChart()"/>

                                </h:form>
                                <p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Disminuye cifra de lectores en México: INEGI" resizable="false">
                                    <p:outputPanel id="output" layout="block" style="width:100%; height:300px" />
                                </p:dialog>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Disminuye la proporción de personas que leen
                            </div>
                            <div class="card-body">
                                <p:chart type="pie" id="barChart2" model="#{graficasControl.pieModel1}" style="height:300px; width: 100%;" widgetVar="chart2"/>
                                <p> ¡La literatura tiene algo para todos los gustos! ¿Cuál es tu autor favorito?</p>
                                <h:form>
                                    <p:commandButton type="button" value="Exportar" icon="pi pi-home" onclick="exportChart2()"/>
                                </h:form>
                                <p:dialog widgetVar="dlg2" showEffect="fade" modal="true" header="A mayor edad disminuye la proporción de personas que leen." resizable="true">
                                    <p:outputPanel id="output2" layout="block" style="width:100%; height:300px;"/>
                                </p:dialog>  

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </ui:define>

    </ui:composition>
</html>

