<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/LiveJournal_icon.svg/1200px-LiveJournal_icon.svg.png"/>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <h:outputStylesheet library="css" name="styles.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <h:outputStylesheet library="css" name="tables.css"/>
    </h:head>

    <h:body class="sb-nav-fixed">
                <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="">FAWARIS BOOK APP</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <h:form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <h:inputText id="BuscarS" class="form-control" pt:placeholder="Buscar" value="#{buscar.palabra}"/>
                    <h:commandLink class="btn btn-primary" id="btnNavbarSearch" value=" " action="/busqueda"><i class="fas fa-search" style="color:white;"></i></h:commandLink>
                </div>
            </h:form>
            <h:form>
                <p:commandLink onclick="PF('bar').show()" type="button"><i class="fas fa-bell" style="color:yellow;"></i></p:commandLink>
            </h:form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i><h:outputText value="#{logueo.datosU}"/></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <h:outputLabel class="dropdown-item" value="Temas"/>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <h:form>
                                <h:commandLink class="dropdown-item" action="#{logueo.activarModoClaro()}" value="Modo Claro"/>
                            </h:form>
                        </li>
                        <li>
                            <h:form>
                                <h:commandLink class="dropdown-item" action="#{logueo.activarModoOscuro()}" value="Modo Oscuro"/>
                            </h:form>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                        <h:form>
                                <h:link id="edit" class="dropdown-item" value="Información de la Cuenta" outcome="/usuarios/Perfil.xhtml"></h:link>
                        </h:form>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <h:form>
                            <li><h:commandLink action="#{logueo.logout()}" value="Log Out" class="dropdown-item"/></li>
                        </h:form>
                        
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">ADMINISTRACIÓN</div>
                                <h:link class="nav-link" outcome="/index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                                </h:link> 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                 Bibliografía
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                        <h:link class="nav-link" outcome="/libro/List" value="Libros"/>
                                        <h:link class="nav-link" outcome="/autor/List" value="Autores"/>
                                        <h:link class="nav-link" outcome="/editorial/List" value="Editorial"/>
                                        <h:link class="nav-link" outcome="/materia/List" value="Género"/>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Herramientas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Préstamos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <h:link class="nav-link" outcome="/prestamo/FichaPrestamo" value="Ficha de Préstamo"/> 
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Solicitudes
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <h:link class="nav-link" outcome="/solicitud/List" value="Historial"/> 
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Reportes</div>
                            <h:link class="nav-link" outcome="/inventario/Download">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-pdf"></i></div>
                                Inventario de Libros
                            </h:link>
                            <div class="sb-sidenav-menu-heading">Opciones</div>
                             <h:link class="nav-link" outcome="/usuarios/List" >
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Configuración de Usuarios
                             </h:link>
                             <h:link class="nav-link" outcome="/utilerias/soporte" >
                                <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                                Soporte Técnico
                             </h:link>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer logueo" style=" color: white; font-weight: bold;">
                        <div class="small">Logueado <i class="fas fa-check-circle"></i></div>
                    </div>
                </nav>
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-xl-12">
                                 <p:notificationBar position="top" effect="slide" widgetVar="bar"
                                                    style="width:300px;height:550px; right: 0;">
                                     <br/>
                                     <br/>
                                     <div class="row">
                                         <div class="col-10">
                                            <h:outputText value="Notificaciones " style="font-size:25px;"/>
                                         </div>
                                         <div class="col-2">
                                             <h:form>
                                                 <p:commandLink class="btn-close" onclick="PF('bar').hide()" type="button"/>
                                             </h:form>
                                         </div>
                                     </div>
                                    
                                 </p:notificationBar>
                                <ui:insert name="body">Default Body</ui:insert>
                            </div>

                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright © FAWARIS <label id="fecha"></label>. Todos los derechos reservados.</div>
                            <div>
                                <h:form>
                                    <p:commandLink type="button" onclick="PF('dlg4').show()">Políticas de Privacidad</p:commandLink>
                                        &middot;
                                    <p:commandLink type="button" onclick="PF('dlg3').show()">Términos &amp; Condiciones</p:commandLink>
                                
                                    <p:sidebar widgetVar="dlg3" position="bottom" baseZIndex="100" modal="true" style="height: 500px;">
                                        <h2>Términos y condiciones del sitio web</h2>
                                        <p class="p-m-0">Estos Términos y Condiciones regulan el uso del Sistema Web <strong>FAWARIS BOOK APP</strong>,
                                            (SISTEMA WEB PARA EL CONTROL DE INVENTARIO Y PRÉSTAMO DE LIBROS DEL CENTRO DE INFORMACIÓN DEL CECYTE PLANTEL 25 “SAN PABLO HUIXTEPEC”)  y tu relación con FAWARIS. Por favor, revísalas cuidadosamente ya que impactan tus derechos y responsabilidades bajo la ley.  Si no estas conforme con estos Términos y Condiciones, por favor no hagas uso del Sistema Web.  Si tienes alguna duda respecto a los Términos y Condiciones, por favor escribe un correo electrónico <a href="mailto:bhjhonatan2@gmail.com">bhjhonatan2gmail.com.</a></p>
                                        <h4>Uso personal del Sitio Web</h4>

                                        <p class="p-m-0">No deberás usar el Sitio Web para ninguno de los propósitos mencionados a continuación:</p>

                                        <ul>
                                            <li> Difundir cualquier material ilegal, acosador, difamatorio, abusivo, amenazante, dañino, vulgar, obsceno, o que de alguna otra manera infrinja con la ley.</li>
                                            <li> Emitir material que aliente conductas que constituyan  alguna ofensa criminal, que den lugar a cualquier tipo de responsabilidad civil o que violen cualquier ley, reglamento o código de prácticas aplicables.</li>
                                            <li> Interferir con el uso parcial o total del Sitio Web de Page Personnel a cualquier otra persona.</li>
                                            <li>Crear, transmitir, o almacenar copias electrónicas de materiales protegidos por derechos de autor sin el permiso del propietario.</li>
                                            <li>Serás responsable de nuestras pérdidas y costos, resultado de la violación o incumplimiento de esta cláusula.</li>
                                        </ul>

                                        <p class="p-m-0">Al enviar información a través del Sitio Web aceptas y reconoces que, si bien podemos comunicarnos contigo en respuesta a dicha información, no estamos obligados a proporcionar cualquier producto o servicio en particular.</p>
                                        <!--<p:commandButton type="button" value="No" styleClass="ui-button-flat p-mr-2" style="width: 6rem" />
                                        <p:commandButton type="button" value="Yes" style="width: 5rem" />-->
                                       
                                    </p:sidebar>

                                    <p:sidebar widgetVar="dlg4" position="bottom" baseZIndex="100">
                                    <h2>Aviso de Privacidad</h2>
                                    <p class="p-m-0">Las cookies de este sitio web se usan para personalizar el contenido y los anuncios, ofrecer funciones de redes sociales y analizar el tráfico. Además, compartimos información sobre el uso que haga del sitio web con nuestros partners de redes sociales, publicidad y análisis web, quienes pueden combinarla con otra información que les haya proporcionado o que hayan recopilado a partir del uso que haya hecho de sus servicios.</p>
                                </p:sidebar>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            
        </div>
        <script>
            let date = document.getElementById("fecha");
            let year = new Date().getFullYear();
            fecha.innerHTML=year;
            console.log("El año actual es: " + year);
        </script>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <h:outputScript name="js/scripts.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <h:outputScript name="js/datatables-simple-demo.js"/>
    </h:body>

</html>
