<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLectorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLectorLabel_idlector}" for="idlector" />
                    <h:inputText id="idlector" value="#{lectorController.selected.idlector}" title="#{bundle.CreateLectorTitle_idlector}" required="true" requiredMessage="#{bundle.CreateLectorRequiredMessage_idlector}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lectorController.create}" value="#{bundle.CreateLectorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lectorController.prepareList}" value="#{bundle.CreateLectorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLectorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
