<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="Aceptar Solicitud"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
                <h:form id="ESolicitud">
                    <h:outputLabel>Para aceptar la solicitud solo será necesario hacer clic en el botón entregar, lo que indica que el material bibliográfico solicitado ha sido entregado al Lector.</h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="2" class="col-xl-10" cellpadding="5">
                    <h:outputText class="form-label negrita" value="ID SOLICITUD:"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.id}" title="#{bundle.ViewSolicitudTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_status}"/>
                    <span class="#{(solicitudController.selected.status == 2)?'agotado letra negrita text-white':((solicitudController.selected.status== 1)?'existencia letra negrita text-white':'por_agotar letra negrita text-white')}">#{(solicitudController.selected.status == 2)?'RECHAZADA':((solicitudController.selected.status == 1)?'ACEPTADA':'EN PROCESO')}</span>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_comentarios}"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.comentarios}" title="#{bundle.ViewSolicitudTitle_comentarios}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_idLibro}"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.idLibro.titulo}" title="#{bundle.ViewSolicitudTitle_idLibro}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_idSolicitante}"/>
                    <h:outputText class="form-control" value="#{prestamoController.buscarNombreSolicitante(solicitudController.selected.idSolicitante.idlector)}" title="#{bundle.ViewSolicitudTitle_idSolicitante}"/>
                </h:panelGrid>
                   
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:commandLink  class="btn btn-success" action="#{solicitudController.entregar}"><i class="far fa-calendar-check"></i> Entregar </h:commandLink>
                    <h:commandLink class="btn btn-danger" action="#{solicitudController.cancelar}"><i class="fas fa-window-close"></i> Cancelar </h:commandLink>
                    <h:commandLink class="btn btn-primary" action="List"><i class="fas fa-angle-left"></i> Regresar </h:commandLink>
                </div>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://www.e-abclearning.com/wp-content/uploads/2022/07/gif_instituciones_educativas.gif" width="100%"/>
                    <img src="https://educacioninnovadora.es/wp-content/uploads/2023/05/cropped-logo_educacioninnovadora.png" width="100%"/>
                </div>
            </div>
            </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
