<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="Listado de solicitudes de libros"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form id="FSolicitud">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup rendered="#{solicitudController.items.rowCount == 0}">
                    <div class="row">
                        <div class="col-xl-7"/>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC2" class="form-control" type="search" placeholder="Buscar solicitud" value="#{solicitudController.search}"/>
                                        <p:tooltip for="bC2"  value="Buscar solicitud por ID o Título del Libro o el Nombre del Lector" position="left"/>
                                        <p:commandButton update="FSolicitud" icon="pi pi-search" action="#{solicitudController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="FSolicitud" value="Mostrar todo" action="#{solicitudController.showAll}" />
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSolicitudEmpty}" rendered="#{solicitudController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{solicitudController.items.rowCount > 0}">
                    <div class="row">
                        <div class="col-xl-7">
                            <ul class="pagination">
                                <li class="page-item"><h:outputText class="page-link" value="#{solicitudController.pagination.pageFirstItem + 1}..#{solicitudController.pagination.pageLastItem + 1}/#{solicitudController.pagination.itemsCount}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{solicitudController.previous}" value="#{bundle.Previous} #{solicitudController.pagination.pageSize}" rendered="#{solicitudController.pagination.hasPreviousPage}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{solicitudController.next}" value="#{bundle.Next} #{solicitudController.pagination.pageSize}" rendered="#{solicitudController.pagination.hasNextPage}"/>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC" class="form-control" type="search" placeholder="Buscar solicitud" value="#{solicitudController.search}"/>
                                        <p:tooltip for="bC"  value="Buscar solicitud por ID o Título del Libro o el Nombre del Lector" position="left"/>
                                        <p:commandButton update="FSolicitud" icon="pi pi-search" action="#{solicitudController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="FSolicitud" value="Mostrar todo" action="#{solicitudController.showAll}" />
                            </div>
                        </div> 
                    </div>  
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{solicitudController.items}" var="item" rules="all" class="table1" >
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSolicitudTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSolicitudTitle_status}"/>
                            </f:facet>
                            <span style="width: 120px; display:block;" class="#{(item.status == 2)?'agotado letra negrita text-white':((item.status == 1)?'existencia letra negrita text-white':'por_agotar letra negrita text-white')}">#{(item.status == 2)?'RECHAZADA':((item.status == 1)?'ACEPTADA':'EN PROCESO')}</span>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSolicitudTitle_comentarios}"/>
                            </f:facet>
                            <h:outputText value="#{item.comentarios}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSolicitudTitle_idLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLibro.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSolicitudTitle_idSolicitante}"/>
                            </f:facet>
                             <h:outputText value="#{prestamoController.buscarNombreSolicitante(item.idSolicitante.idlector)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{solicitudController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                
                                <p:commandLink disabled="#{(item.status == 3)?false:true}" id="edit" class="btn btn-warning text-white" action="#{solicitudController.prepareEdit}"><i class="fas fa-book-reader"></i></p:commandLink>
                                <p:tooltip for="edit" value="Aceptar Solicitud" position="top"/>
                                <p:commandLink disabled="#{(item.status == 3)?false:true}" id="delete" class="btn btn-danger"  action="#{solicitudController.rechazar}" update="FSolicitud"> <i class="fas fa-window-close" style="color:white;"></i>
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea rechazar la solicitud?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Rechazar Solicitud" position="top"/>  
                            
                            </div>
                        </h:column>
                    </h:dataTable>
                    </div>
                </h:panelGroup>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:commandLink rendered="false" class="btn btn-outline-primary" action="#{solicitudController.prepareCreate}" ><i class="fas fa-plus"></i> #{bundle.ListSolicitudCreateLink}</h:commandLink>
                    <p:commandLink style="color:white;text-decoration: none;"  id="deleteAll" class="btn btn-danger"  action="#{solicitudController.cancelarTodo}" update="FSolicitud"> <i class="fas fa-window-close" style="color:white;"></i> Rechazar Solicitudes Pendientes
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea rechazar todas las solicitudes pendientes?" icon="pi pi-exclamation-triangle"/>
                    </p:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.ListSolicitudIndexLink}</h:link>
                
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
